* {
    box-sizing: border-box;
}
.row:after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header{
	display:block;
	background:#7f0f7e;  

}
.header h1{
	color:white;
	margin-bottom: 0px;
	text-align: center;
}
/*-------------------------------------------------
Search
-------------------------------------------------
form#search {
    position: absolute;
    top: 20px;
    right: -22px;
    width: 250px;
    height: 50px;
}

form#search input#keyword {
    color: #b8b2a9;
    font-size: 14px;
    width: 144px;
    height: 30px;
    margin: 10px 0px 5px 30px;
    padding: 0px 30px 0px 5px;
    border: 0;
 }
    
 form#search input#go {
    width: 68px;
    height: 26px;
    margin: 0;
    padding: 4px;
    text-transform: uppercase;
    color: #7f0f7e;
    background-color: #3c1354;
    cursor: pointer;
    font-weight: bold;
}

.clear {
    clear: both;
    height: 1px;
}
-------------------------------------------------*/
form, fieldset, legend{
    margin:0; padding:0; border:none;
}
legend{
    display:none;
}
input{
    font-size:12px; 
    font-family:Georgia, "Times New Roman", Times, serif;}
#submit {
    margin:0; 
    padding:5px; 
    color:#666666; 
    background-color:#F7F7F7; 
    border:1px solid #CCCCCC; 
    cursor:pointer;
}
.header input{
    display:block; 
    float:left; 
    width:155px; 
    margin:0 5px 0 0; 
    padding:5px; 
    color:#B6B6B6; 
    background-color:#151515; 
    border:1px solid #666666; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:12px;
}
.header input#go{
    width:68px; 
    height:26px; 
    margin:0; 
    padding:4px 0; 
    text-transform:uppercase; 
    color:#BFE009; 
    background-color:#2C2C2C; 
    cursor:pointer; 
    font-weight:bold;
}

/*-------------------------------------------------
Nav
-------------------------------------------------*/
.nav{
	padding: 0px;
	margin: 0px;

}

.nav ul li{
	float:left;
}
.nav ul li a{
	width:150px;
	height:30px;
	border: 2px solid black;
	background:white;
	color:black;
	margin:0px;
	padding: 0px;
	font-size:18px;
	display:block;
	text-align:center;
}
.nav ul li a:hover{
	width:152px;	
	height:30px;
	border:3px solid #f2fafb;
	color:#f2fafb;
	background:#3c1354;
}

/*-------------------------------------------------
Tabily
-------------------------------------------------*/
.menu_tab {
    padding: 0;   
}
.menu_tab li {
    display: inline;
}
.menu_tab li.active a {
    background: #f5f5f5;
    color: #3c1354;
}
.menu_tab li a {
    background: #3c1354;
    padding: 5px 10px;
    float: left;
    border-right: 1px solid #f5f5f5;
    border-bottom: none;
    color: #f2fafb;
    font-weight: normal;
}

.tab_content {
    float: left;
    clear: both;
    border-top: none;
    border-left: none;
    background: #f5f5f5;
    padding: 4%;
    width: 92%;
}

.tab_article {
    margin: 20px 0;
    clear: both;
}

.tab_article img {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.tab_article p {
    overflow: hidden;
    padding: 0;
    font-size: 14px;
}

/*-------------------------------------------------
Slide Image
-------------------------------------------------*/


.special_offers{
    border-bottom: 1px dotted #3c1354;
    overflow: hidden;
    display: block;
}
.special_offers ul li{
    display: block;
    width: 100%;
    min-height: 30px;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    border-bottom: 1px dotted #3c1354;
    overflow: hidden;}

/*-------------------------------------------------
Right part: explore more
-------------------------------------------------*/
.right_explore {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.right_explore ul li{
    display: block;
    width: 100%;
    min-height: 99px;
    margin: 0 0 25px 0;
    padding: 0 0 15px 0;
    border-bottom: 1px dotted #C7C5C8;
    overflow: hidden;
}
.right_explore ul li img{
	float: left;
    width: 100px;
    height: 100px;
    margin: 0 10px 0 0;
    padding: 4px;
    border: 1px solid #BFE009;
    clear: left;
}

.right_explore .clear{
	display:block;
	clear:both;
}


/*-------------------------------------------------
Gallery
-------------------------------------------------*/
.gallery{
    padding-left:120px;
}
.gallery ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery ul li{
    display: block;
    float: left;
    margin: 0 10px 10px 0;
}
.gallery ul li a {
    outline: none;
    text-decoration: none;
    color: #3c1354;
    background-color: #ffffff;
}
.gallery ul li .last {
    margin-right: 0;
}

.gallery ul li img {
    padding: 4px;
    border: 1px solid #3c1354;
    width: 174px;
    height: 174px;
}










